@import 'variables';

.log-out-btn {
  font-size: 16px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  outline: inherit;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $screen-lg) {
    height: 20px;

    &:hover path {
      fill: $color-cerulean-blue !important;
    }
  }

  &:hover {
    color: $color-clementine;
  }
}
