@import 'variables';

.registration {
  padding-bottom: 70px;
  padding-top: 35px;

  @media (min-width: $screen-md) {
    padding-top: 71px;
    padding-bottom: 120px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 91px;
    padding-bottom: 135px;
  }

  @media (min-width: $screen-xl) {
    padding-bottom: 150px;
  }

  &__title {
    line-height: 1.2;
  }

  &__text {
    text-align: center;
    line-height: 1.375;
    color: $color-black-1;
    padding-top: 14px;

    @media (min-width: $screen-md) {
      padding-top: 26px;
      max-width: 375px;
      margin: 0 auto;
      line-height: 1.2;
      font-size: 18px;
    }

    @media (min-width: $screen-lg) {
      max-width: 100%;
      margin: 0;
      padding-top: 17px;
    }
  }
}
