@import 'variables';

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $color-white;

  &__inner {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-popup-btn {
  cursor: pointer;

  &:hover path {
    fill: $color-cerulean-blue !important;
  }
}
